@import './base.css';

.modal {
  display: none; /* oculta el modal por defecto */
  position: fixed; /* posición fija en la pantalla */
  z-index: 1; /* asegura que el modal esté encima del resto del contenido */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* permite que el contenido se desplace cuando se muestra el modal */
  background-color: rgba(0,0,0,0.5); /* fondo oscuro semitransparente */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  max-width: 400px;
  max-height: 400px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}